<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body id="topo" class="bg-light">
<div th:replace="~{fragments/layout :: header}"></div>

<main class="container py-4">
    <h1 class="h3 mb-3">Lista de Produtos</h1>

    <table class="table table-striped table-hover bg-white">
        <tr>
            <th style="text-align: center">Id</th>
            <th style="text-align: center">Nome</th>
            <th style="text-align: center">Descricao</th>
            <th style="text-align: center">Valor</th>
            <th style="text-align: center">Quantidade</th>
            <th style="text-align: center">Imagem</th>
            <th style="text-align: center">Categoria</th>
            <th style="text-align: center">Editar</th>
            <th style="text-align: center">Excluir</th>
        </tr>
        <tr th:each="p : ${produtos}">
            <td style="text-align: center" th:text="${p.id}"></td>
            <td style="text-align: center" th:text="${p.nome}"></td>
            <td style="text-align: justify" th:text="${p.descricao}"></td>
            <td style="text-align: center" th:text="${p.valor}"></td>
            <td style="text-align: center" th:text="${p.quantidade}"></td>
            <td><img th:src="${p.imagem}" style="width: 80px" alt="Imagem do produto"></td>
            <td style="text-align: center" th:text="${p.categoria != null ? p.categoria.nome : 'Sem categoria'}"></td>
            <td><a type="button" class="btn btn-warning" th:href="@{/produto/editar/{id}(id=${p.id})}">Editar</a></td>
            <td><a type="button" class="btn btn-danger" th:href="@{/produto/deletar/{id}(id=${p.id})}">Excluir</a></td>
        </tr>
    </table>

    <a type="button" class="btn btn-primary" href="/produto/formulario">Novo Produto</a>
</main>

<div th:replace="~{fragments/layout :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>